{%extends 'base.html' %}

{%block content %}
    <form class = "grid" action="/change" method="POST">
        <select id="table" name="table" required>
            <option value="">Select table</option>
            <option value="teams">teams</option>
            <option value="team_mates">team_mates</option>
            <option value="teamate_roles">teamate_roles</option>
            <option value="games">games</option>
            <option value="arenas">arenas</option>
            <input type="submit" class="file_submit">
        </select>
    </form>
{% endblock %}